{% extends "website/index.html" %}
{% load static %}
        <!-- Masthead-->
        <section id="masterhead">
            {% block masterhead %}
                <header class="masthead bg-primary text-white text-center">
                    <div class="container d-flex align-items-center flex-column">
                        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src='{% static "website/assets/img/logo.png" %}' alt="" /><!-- Masthead Heading-->
                        <h1 class="masthead-heading text-uppercase mb-0">PiTemp</h1>
                        <!-- Icon Divider-->
                        <div class="divider-custom divider-light">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <!-- Masthead Subheading-->
                        <p class="masthead-subheading font-weight-light mb-0">Superviseur de températures</p>
                    </div>
                </header>
            {% endblock masterhead %}
        </section>

        <!-- Content Section-->
        <section class="page-section" id="content">
            {% block content %}
                <div class="container">
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Introduction</h2>
                    <div class="row">
                    </div>
                </div>
            {% endblock content %}
        </section>

        <!-- Contact Section-->
        <section class="page-section" id="contact">
            {% block contact %}
                <div class="container">
                    <!-- Contact Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                </div>
            {% endblock contact %}
        </section>
